<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <main>
      <form action="/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
      </form>
      
      <ul>
        {% for item in data %}
          <li>{{ item.id }}) {{ item.number_one }} + {{ item.number_two }} = {{ item.number_ans }}</li>
        {% empty %}
          <p>Нет данных</p>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>